<p style="color: green"><%= notice %></p>

<h1>ラベル一覧</h1>

<div id="labels">
  <% @labels.each do |label| %>
    <%= render label %>
    <p>
      <%= link_to "ラベル詳細", label %>
    </p>
  <% end %>
</div>

<%= link_to "ラベルの新規作成", new_label_path %>
